@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

/* @theme {
  --color-primary: #2563EB;
  --color-primary-dull: #1F58D8;
  --color--light: #F1F5F9;
  --color-borderColor: #C4C7D2;
} */

/* @theme {
  --color-primary: #5c3a21;
  --color-primary-dull: #f5f5f5;
  --color--light: #ffffff;
  --color-borderColor: #d0d0d0;
} */

/* @theme {
  --color-primary: #5c3a21;
  --color-primary-dull: #3d2414;

  --color-light: #f5f5f5;

  --color-borderColor: #a67c52;

  --color-text-main: #f5f5f5; 
  --color-text-dark: #111827; 
  --color-text-accent: #b76e2e;
} */

@theme {
  --color-primary: #5c3a21;
  --color-primary-dull: #3d2414;
  --color-light: #f5f5f5;
  /* --color-light: #0d0d0d; */
  --color-borderColor: #a67c52;
}
